@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #E61C44, #E67A1C);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #E5321B;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #E602B8;
    text-align: center;
    text-shadow: 1px 1px 2px  #e54464b7;
}
h2{
    color: #E602B8;
}

p{
    text-align: justify;
}